<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  <link rel="stylesheet" href="assets/css/datatables.bootstrap.css">
  <link rel="stylesheet" href="assets/css/test-custom-daniel.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">


</head>

<body ng-app="TestApp" ng-controller="testController">
  <div class="container-fluid height-100pct">
    <div class="row">

      <div id="profile">

          <div class="panel panel-default panel-haip height-100pct">
            <div class="panel-heading text-center">
              <div class="profile-data">
                <h2 class="font-light">Daniel Camargo</h2>
                <h6>Diseñador Web</h6>
              </div>
              <div class="profile-photo">
                <img src="assets/img/sillhouette.jpg" alt="">
              </div>
            </div>
            <div class="panel-body">
              <div class="profile-intro text-center">
                In ullamcorper arcu lobortis interdum dictum. Aenean a scelerisque orci, in gravida turpis. Morbi eu leo orci.
              </div>
              <div class="profile-contact text-center">
                <button class="btn btn-default btn-haip">Accion</button>
              </div>
              <div class="profile-kpis">
                <div class="row">
                  <div class="kpis col-md-6 col-sm-3 text-center">
                    <h2>1600 <i class="glyphicon glyphicon-arrow-up"></i></h2>
                    <small>Interacciones</small>
                  </div>
                  <div class="kpis col-md-6 col-sm-3 text-center">
                    <h2>80% <i class="glyphicon glyphicon-arrow-up"></i></h2>
                    <small>Rendimiento</small>
                  </div>
                  <div class="kpis col-md-6 col-sm-3 text-center">
                    <h2>900 <i class="glyphicon glyphicon-arrow-up"></i></h2>
                    <small>Alcance</small>
                  </div>
                  <div class="kpis col-md-6 col-sm-3 text-center">
                    <h2>43% <i class="glyphicon glyphicon-arrow-up"></i></h2>
                    <small>Engagement</small>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>

      <div id="content">

          <h1 class="font-light color-haip-secondary">Principal</h1>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Data</a></li>
          </ol>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs nav-tabs-haip" role="tablist">
            <li role="presentation" class="active"><a href="#categoriaa" aria-controls="home" role="tab" data-toggle="tab">Categoria A</a></li>
            <li role="presentation"><a href="#categoriab" aria-controls="profile" role="tab" data-toggle="tab">Categoria B</a></li>
            <li role="presentation"><a href="#categoriac" aria-controls="profile" role="tab" data-toggle="tab">Categoria C</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content tab-haip">

            <div id="loading" class="flex-center">
              <div class="spinner">
                <i class="glyphicon glyphicon-refresh gly-spin"></i>
              </div>
              <div class="message">
                <span>Cargando</span>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane fade in active" id="categoriaa">
              <div class="table-responsive ">
                <table class="table table-haip" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance"  width="100%" dt-column-defs="vm.dtColumnDefs">
                  <thead>
                    <tr>
                      <th class="text-center">Sr</th>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Salary</th>
                      <th class="text-right">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in userList">
                      <td class="text-center">{{$index + 1}}</td>
                      <td>{{user.employee_name}}</td>
                      <td>{{user.employee_age}}</td>
                      <td >{{user.employee_salary}}</td>
                      <td class="text-right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btn" ng-click="edit($index);"><i class="glyphicon glyphicon-pencil"></i></button>
                          <button type="button" class="btn btn-default btn" ng-click="delete();"><i class="glyphicon glyphicon-trash"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="categoriab">
              <div class="table-responsive">
                <table class="table table-haip" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance"  width="100%" dt-column-defs="vm.dtColumnDefs">
                  <thead>
                    <tr>
                      <th class="text-center">Sr</th>
                      <th class="text-center">User Id</th>
                      <th>Title</th>
                      <th class="text-right">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in userList1">
                      <td class="text-center">{{$index + 1}}</td>
                      <td class="text-center">{{user.id}}</td>
                      <td>{{user.title}}</td>
                      <td class="text-right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btn" ng-click="edit($index);"><i class="glyphicon glyphicon-pencil"></i></button>
                          <button type="button" class="btn btn-default btn" ng-click="delete();"><i class="glyphicon glyphicon-trash"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="categoriac">
              <div class="table-responsive">
                <table class="table table-haip" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance"  width="100%" dt-column-defs="vm.dtColumnDefs">
                  <thead>
                    <tr>
                      <th class="text-center">Sr</th>
                      <th class="text-center">User Id</th>
                      <th>Title</th>
                      <th class="text-right">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="user in userList2">
                      <td class="text-center">{{$index + 1}}</td>
                      <td class="text-center">{{user.id}}</td>
                      <td>{{user.title}}</td>
                      <td class="text-right">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btn" ng-click="edit($index);"><i class="glyphicon glyphicon-pencil"></i></button>
                          <button type="button" class="btn btn-default btn" ng-click="delete();"><i class="glyphicon glyphicon-trash"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

      </div>
    </div>

  </div>
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="assets/js/angular-datatables.min.js"></script>
<script src="assets/js/jquery.dataTables.min.js"></script>
<script src="http://localhost:35729/livereload.js" type="text/javascript">

</script>

<script>

  var language = {
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ registros",
    "sZeroRecords":    "<div class='no-data flex-center text-center'><i class='glyphicon glyphicon-info-sign'></i> <span>No hay datos para mostrar</span></div>",
    "sEmptyTable":     "<div class='no-data flex-center text-center'><i class='glyphicon glyphicon-info-sign'></i> <span>No hay datos para mostrar</span></div>",
    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
  }

  angular.module('TestApp', ['TestApp.controllers','datatables','datatables.options','datatables.options'])

  angular.module('TestApp.controllers', []).controller('testController', function($scope,DTOptionsBuilder,DTDefaultOptions, DTColumnBuilder,DTColumnDefBuilder , $http) {

    $scope.getData1 = function() {

      $('#loading').show();

      $http.get("http://dummy.restapiexample.com/api/v1/employees")
      .then(function(response){
        $scope.userList = response.data;

        setTimeout(function() {
          $('#loading').hide();
        }, 2500);
      });
    }

    $scope.getData2 = function() {

      $http.get("http://jsonplaceholder.typicode.com/posts")
      .then(function(response){
        $scope.userList1 = response.data;
      });
    }

    $scope.getData3 = function() {

      $http.get("assets/json/empty.json")
      .then(function(response){
        $scope.userList2 = response.data;
      });
    }

    $scope.getData1();
    $scope.getData2();
    $scope.getData3();
    $scope.vm = {};
    $scope.vm.dtInstance = {};
    $scope.vm.dtColumnDefs = [DTColumnDefBuilder.newColumnDef(2).notSortable()];
    $scope.vm.dtOptions = DTOptionsBuilder.newOptions()
    .withOption('paging', true)
    .withOption('searching', false)
    .withOption('info', false)
    .withOption('processing', true)
    .withLanguage(language)

  });
</script>
