html, body {
  height: 100%;
  background-color: #f9f9f9;
  color: #858585;
  font-family: 'Roboto', sans-serif;
}

/* Resources */
.height-100pct {
  height: 100%;
}
.padding-left-0 {
  padding-left: 0px;
}
.btn-haip {
  background-color: #9808ea;
  color: #fff;
  padding: 10px 35px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  border-radius: 20px;

  transition: all ease .25s;
}
.btn-haip:hover {
  background-color: #ba42ff;
  color:#fff;
}

.font-light {
  font-weight: lighter;
}
.font-bold {
  font-weight: bold;
}
.font-bolder {
  font-weight: bolder;
}

.color-haip-primary {
  color: #ea0043;
}
.color-haip-secondary {
  color: #9808ea;
}

.table-responsive {
  border: 0px;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Profile */
#profile {
  width: 25%;
  float: left;
  z-index: 9999;
  position: fixed;
  height: 100%;

  overflow-y: auto;
  transition: all ease .25s;
}

#profile .panel.panel-haip {
  border-radius: 0px;
  border: 0px;

  margin-bottom: 0px;
}

#profile .panel.panel-haip .panel-heading {
  border-radius: 0px;
  background-color: #ea0043;

  background: #ea0043;
  background: -moz-linear-gradient(top, #ea0043 0%, #ff5252 99%);
  background: -webkit-linear-gradient(top, #ea0043 0%,#ff5252 99%);
  background: linear-gradient(to bottom, #ea0043 0%,#ff5252 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea0043', endColorstr='#ff5252',GradientType=0 ); /* IE6-9 */
}

#profile .panel-body {
  padding-top: 60px;
  background-color: #fff;
}

#profile .profile-data {
  position: relative;
  top: 50px;
}

#profile .profile-data h2 {
  color: #fff;
  margin: 0px;
}
#profile .profile-data h6 {
  color: #722a3d;
  letter-spacing: 1.5;
  font-size: 14px;
}

#profile .profile-intro {
  font-style: italic;
  padding: 30px
}

#profile .profile-photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;

  position: relative;
  top: 70px;

  box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
}

#profile .profile-kpis {
  padding: 15px;
}

#profile .profile-kpis .kpis {
  padding: 15px;
}

#profile .profile-kpis h2 {
  color: #858585;
  margin-bottom: 0px;
  position: relative;
}

#profile .profile-kpis h2 i {
  color: chartreuse;
  font-size: 12px;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

#profile .profile-kpis small {
  color: #e5c7ca ;
  margin-top: 0px;
  font-weight: bold;
}

#content  {
  padding: 30px;
  position: relative;
  width: 75%;
  left: 25%;

  transition: all ease .25s;
}

#content h1 {
  margin: 0;
}

#content .breadcrumb {
  padding-left: 0px;
  margin-bottom: 20px;
  list-style: none;
  background-color: transparent;
  border-radius: 4px;
}

#content .breadcrumb li a {
  color: #858585;
}
#content .breadcrumb li:before {
  color: #858585;
}


#content .nav-tabs-haip {
  border: 0px;
  margin-bottom: 20px;
}

#content .nav-tabs-haip li a {
  border: 0px;
  color: #858585;
  border-radius: 5px;
  height: 40px;
  border: 1px solid #f5f5f5;
}

#content .nav-tabs-haip li.active a {
  color: #fff;
  background-color:#ea0043;
  border-color: #ea0043;
  font-weight: bold;
}

#content .tab-haip {
  position: relative;
}

#content .table-haip {
  font-size: 14px;
  color: #858585;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.05);
  border: 1px solid #efefef;
}

#content .table-haip thead tr {
  background-color: #f9f2f3;
}

#content .table-haip .btn-group button {
  background-color: #9808ea;
  color: #fff;
  border: 0;
}
#content .table-haip .btn-group button:hover {
  background-color: #ba42ff;
}

#content .table-haip thead tr th {
  border-bottom: 0px;
}

#content .table-haip tbody tr td {
  border-top-color: #efefef;
  vertical-align: middle;
}

#content .tab-haip .dataTables_length {
  position: absolute;
  top: -60px;
  right: 0px;
}

#content .tab-haip .dataTables_length select {
  padding: 2px 10px;
  margin: 0 5px;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
}

#content .tab-haip .dataTables_length label {
  background-color: #fff;
  border: 1px solid #efefef;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.05);
}

#content .dataTables_paginate {
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 5px;
  box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.05);
  display: inline-block;
  overflow: hidden;
}

#content .dataTables_paginate a {
  padding: 10px;
  display: inline-block;
  border-right: 1px solid #f1f1f1;
  cursor: pointer;
  color: #9808ea;
  transition: all ease .25s;
}

#content .dataTables_paginate a:last-of-type {
  border-right: 0px;
}

#content .dataTables_paginate a:hover {
  background-color: #9808ea;
  color: #fff;
}

#content .dataTables_paginate a.current {
  background-color: #9808ea;
  color: #fff;
}

#content .dataTables_paginate span.ellipsis {
  padding: 10px;
}

#loading {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  bottom: 0;
  top: 0;
  z-index: 9999;
  text-align: center;

  padding: 0;
  margin: 0;
  list-style: none;

  border-radius: 5px;
  box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.05);
  border: 1px solid #efefef;
}

#loading i {
  color: chartreuse;
  font-size: 36px;
}

#loading .message {
  top: 10px;
  position: relative;
}

#loading .message span {
  font-weight: bold;
}

#content .no-data {
  padding: 30px;
}

#content .no-data i {
  color: #e5c7ca;
  font-size: 36px;
}

#content .no-data span {
  font-weight: bold;
  top: 10px;
  position: relative;
}

@media (max-width: 992px) {
  #profile {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    overflow-y: initial;
  }

  #profile .panel-haip {
    height: auto;
  }
  #content {
    width: 100%;
    left: 0;
    display: inline-block;
  }
}

@media (max-width: 576px) {
  #content .nav-tabs-haip {
    width: 100%;
    border-bottom: 0;
    margin-bottom: 80px;
  }

  #content .nav-tabs-haip > li {
    float: none;
    margin-bottom: 0;
  }

  #content .tab-haip .dataTables_length {
    width: 100%;
  }

  #content .tab-haip .dataTables_length label {
    width: 100%;
  }
}
